/.gradle/
/.idea/
/build/classes/
/build/libs/
/build/kotlin/
/build/jacoco/
/build/reports/jacoco/test/html/ru.netology/
/build/reports/jacoco/test/html/jacoco-resources/
/build/reports/tests/test/
/build/reports/tests/test/classes/
/build/reports/tests/test/css/
/build/reports/tests/test/js/
/build/reports/tests/test/packages/
/build/test-results/
/build/tmp/
